
.list-items {
    display:flex;
    padding:20px;
    justify-content: space-around;
}

.list-items li {
    display:inline-block;
    list-style:none;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    cursor:pointer;
}

.list-items li a {
    color: #fff ;

}


.list-item-content {
    margin-top: 5%;
}