.header {
    padding:12px;
    box-shadow: 0 2px 50px #474e5d;
    border-bottom: 2px solid white;
}

.nav-wrapper {
    color: white;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
}

.title {
    letter-spacing: 5px;
}

@media only screen and (max-width: 992px) {
    .header {
        text-align:center;
    }
  }