.intro {
    min-height: 40vh;
    border-bottom: 2px solid #fff;
}

.job-title {
    font-weight: 600;
    letter-spacing:10px;
    position:relative;
    top:calc(30vh - 100px);
}

.profile-pic {
    border-radius: 50%;
    width:150px;
    height:150px;
    position:relative;
    left:calc(50vw - 75px);
    top:calc(40vh - 100px);
    background:#fff;
}