.intro {
    min-height: 40vh;
    border-bottom: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.job-title {
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 15vh;
    font-size:1.25rem;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -75px;
    background: #fff;
}

.profile-pic img {
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ff9e80;
}

@media only screen and (max-width:401px) {
    .profile-pic img {
        height: 100px;
    }
    .profile-pic {
        width: 100px;
        height: 100px;
        bottom: -50px;
    }
    .job-title {
        letter-spacing: 5px;
    }
}

@media only screen and (max-width:601px) {
    .job-title {
        font-size: 1rem;
    }
}