.aboutme {
    height: 40vh;
    border-bottom: 2px solid #fff;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.aboutme-section {
    padding:20px;
    height:30vh;
    width: 30%;
}